
div.table-container {
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  padding: 0.25em;
}

div.table-container form label[for*='description']{
  font-size: 1.1em;
  font-weight: bold;
}

.table-container__title {
  font-size: 1.5em;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.3em;
}

.table-container__description {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.3em;
}

section.properties {
  padding: 0.25em;
  margin: 0.5em 0;
}

label.properties__checkbox {
  font-size: 1.05em;
}

section.actions {
  padding: 0.2em;
  margin: 0.5em 0;
}

label.actions__rollFormula {
  margin-right: .75em;
}

section.entries {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5em;
}

section.entries table {
  width: 100%;
  display: flex;
  flex-direction: column;
}

section.entries table tr {
  display:flex;
  flex-grow: 1;
}

section.entries table tr td.sz1,
section.entries table tr th.sz1 {
  flex: 1
}

section.entries table tr td.sz2,
section.entries table tr th.sz2 {
  flex: 2
} 

section.entries table tr td.sz3,
section.entries table tr th.sz3 {
  flex: 3
} 

section.entries table tr td.sz4,
section.entries table tr th.sz4 { 
  flex: 4
} 

section.entries th {
  padding: 0.1em;
}

section.entries table th input {
  width: 80%;
  text-align: center;
  font-weight: bold;
}