.generator-table {
  width:100%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5em;
}

.generator-table input,
.generator-table textarea {
  box-sizing: border-box;
}

.generator-table textarea {
  resize: none;
}

.generator-table__title {
  width: 100%;
  font-size: 1.5em;
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.generator-table__label {
  font-size: 1.1em;
}

.generator-table__label--bold {
  font-weight: bold;
}

.generator-table__description {
  width: 100%;
  resize: vertical;
}

.generator-table__properties {
  margin: 1em 0;
}

.generator-table__properties svg {
  margin: 0 0.5em;
}

.generator-table__actions {
  padding: 0.25em;
  display:flex;
}

.generator-table__button {
  width: 100%;
}

.generator-table__button svg {
  color: #4CAF50;
}

.generator-table__roll-formula-container label {
  margin-right: 0.5em;
}

.generator-table__roll-formula-container svg {
  margin: 0 0.5em;
}

.generator-table__column-actions-container {
  margin: 0 0 0 auto;
}

.generator-table__column-actions-container button {
  font-size: 1.25em;
  margin: 0 0.25em;
}

.generator-table__table {
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.1em;
}

.generator-table__table input {
  text-align: center;
}

.generator-table__table textarea {
  width: 100%;
}

.generator-table__table td {
  text-align: center;
}

.generator-table__table tr {
  border: 1px solid gray;
  border-collapse: collapse;
}

.generator-table__column-header__icon {
  margin: 0 0.1em;
  color: #FF6666;
}

.generator-table__table .col-sm {
  width: 4%;
}

.generator-table__table .col-md {
  width: 8%;
}

.generator-table__actions .generator-table__actions__test-roll {
  font-size: 1.1em;
  padding: 0.25em;
  margin: 0.25em;
}

.generator-table__actions .generator-table__actions__save {
  font-size: 1.1em;
  padding: 0.25em;
  margin: 0.25em;
}