.error-container {
  margin-top:10vh;
  width: 100%;
}

.error-container img,
.error-container h2,
.error-container h3,
.error-container p {
  margin-left: auto;
  margin-right: auto;
  display:block;
  text-align: center;
}

.error-container a,error-home, a.error-home:visited {
  text-decoration: none;
  color: darkblue;
  font-weight: bold
}

.error-message {
  color: #991100;
  font-weight: bold;
}