a.sidebar-item {
  height: 2.5em;
  display:block;
  position: relative;
}

a.sidebar-item:hover {
  background: #eee;
}

a.sidebar-item div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.1em;
  text-decoration: none;
  color: #233565;
  padding: 0.1em;
}

a.sidebar-item div svg {
  width: 1.1em;
}

a.sidebar-item div span.sidebar-item--label {
  margin-left: .25em;
}