div.collection-item {
  width: 7%;
  min-width: 120px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 1em;
  padding: .5em;
  aspect-ratio: 1/1;
}

div.collection-item svg {
  width: 50%;
  height: fit-content;
  aspect-ratio: 1/1;
}

div.collection-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}

div.collection-itemdisplay span.collection-iteminfo--label {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5em;
  height: 3em;
  font-weight: bold;
  font-size: 0.9em;
  width: 100%;
}

/* div.collection-iteminfo span.collection-iteminfo--label {
  font-weight: bold;
  display: inline-block;
  width: 100%;
  margin-bottom: 0.25em;
} */

div.collection-item div.collection-iteminfo svg.collection-iteminfo--star {
  width: 15pt;
}