

div .top-nav{
  display: flex;
  flex-direction: row;
  background-color: #233565;
  padding: .5em;
  margin: 0 0 .5rem 0;
  color: white;
}

div.top-nav p {
  margin-left: 1em;
  margin-right: 1em;
  padding-left: .2em;
  padding-right: .2em;
}

div.top-nav__auth a, a:visited{
  color: white;
  text-decoration: none;
}

.top-nav__tools {
  display:inline-flex;
  align-items: stretch;
  flex-direction: row;
  width: 80%;
}

.top-nav__auth {
  display:flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-end;
}

.top-nav__auth a{
  display: inline-block;
  margin: auto 1em;
  font-size: 1.25em;
}